#stats{
    margin: 0%;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: indigo;
    color: white;
    z-index: 10;
}

.record{
    display: inline;
    text-align: center;
    margin: 5%;
}

#resolved span{
    color: green;
}

#draft span{
    color: orange;
}

#rejected span{
    color: red;
}

aside{
    position: relative;
    z-index: 0;
    height: auto
}

#map{
    z-index: 20;
    position: absolute;
}
