#update{
    display: none;
}

#update input{
    margin: 1% 2%;
}

#edit{
    background: purple;
    margin-left: 1%;
    font-weight: bold;
    padding: 1%;
}

#section3 p{
    color: green;
    text-align: center;
}
