/**Styles for the search/sort template page*/
/* position the search filter*/
/*Nav bar for selecting search/sort criteria*/
#bar{
    /*border-bottom: solid 0.1px rgb(247, 0, 255);*/
    padding: 1% 2% 0%;
    min-width:100%;
    background:  rgb(238, 164, 238);
}

/*Styles for search/sort tabs*/
#bar tab a{
    padding-bottom: 1.2%;
    padding-top: 1.2%;
    min-width: 10%;
    float: right;
    text-align: center;
    margin: 1% .6% 0% .6%;
    color: blue;
    text-decoration: none;
    border: solid 1.4px rgb(238, 164, 238);
    border-bottom: none;
    /*border-bottom: solid 1.4px rgb(247, 0, 255);*/
}

/*Tab styles for highlighting*/
#bar tab a:hover{
    color: white;
    border: solid 1.4px rgb(247, 0, 255);
    border-bottom: none;
    /*border-bottom: solid 1.4px rgb(235, 163, 235);*/
    background: violet;
}

#bar tab a.active{
    color: red;
}

/*look of elements modified to blend in with setup of this page*/
#notifications{
    background-image: linear-gradient(to left, rgb(204, 100, 204), rgb(238, 164, 238));
}

/*search keyword input field*/
#key_word{
    border: none;
    position: relative;
}
