#change_pwd, #change_name, #change_pic{
    margin-left: 1%;
    padding: 1%;
    background: purple;
    color: white
}

.signup-wrapper{
    width: 50%;
    margin: 12% auto;
    display: none;
}
.signup-form{
    background: purple;
    padding: 2%;
    border-radius: 10px;
}

.signup-form input{
    width: 100%;
    margin: 1% auto;
    border-radius: 10px;
    text-indent: 2%;
    line-height: 150%;
    background: rgb(235, 140, 235);
    border: none
}

.signup-form input:focus{
    background: white;
}

.signup-wrapper #submitPass{
    width: 100%;
    background: navy;
    color: white;
    line-height: 160%;
    border-radius: 10px;
    margin-top: 3%;
}

#pics{
    text-align: center;
    margin-top: 5%
}

#prof{
    text-align: center
}

aside{
    background-image: linear-gradient(rgb(255, 230, 255), pink, indigo )
}

.signup-form label{
    color: white;
}

#newValue{
    display: none
}
